<!DOCTYPE html>

<html>

<head>
    <title>Projects</title>
</head>

<body>
    <h1>Projects</h1>
    {{> header}}
    <p>This is where upcoming and ongoing projects will be listed.</p>
    {{>footer}}
</body>

</html>